// Color variables
$lunaPurp: #302C69;
$solOrange: #F69220;
$lightBlue: #449DD1;
$skyBlue: #78C0E0;
$lunaSilver: #FCFCFA;
$solSilver: #FEDF9B;

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: $skyBlue;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 7rem;
}

hr {
  width: 80%;
  border-width: 20px;
  border-color: #373A3C;
}

.textBlock {
  margin-top: 600px;
}

.disNone {
  opacity: 0;
}

#tb5 {
  margin-bottom: 500px;
}